## This is the process to generate one of the test dataset. All the others were made with the similar code

In [1]:
import pandas as pd
import re

In [2]:
# Load the data from dataset
df = pd.read_csv('../data/eng_tweets/tweets_processed_2018_07_30.csv',engine='python',header =None ,names = ['created_at','location','text'])

In [3]:
df.head()

,created_at,location,text
4,2018-07-31 03:47:00,NaN,RT @nextdoornurs3: A single person who RT’s th...
7,2018-07-31 03:47:00,NaN,RT @InfamousMari: So Incase you missed it Ille...
8,2018-07-31 03:47:00,NaN,RT @nimfasmacabitas: @menggalurks I choose to ...
9,2018-07-31 03:47:00,NaN,RT @Krazygioo: i actually laughed LMAOOO https...
10,2018-07-31 03:47:00,NaN,RT @_SJPeace_: A black woman by the name of Da...

In [4]:
# EDA with the same process of training set: convert data type, create clean text, drop the duplicated rows
df['created_at'] = pd.to_datetime(df['created_at'])

In [5]:
df.dtypes

created_at    datetime64[ns]
location              object
text                  object
dtype: object

In [6]:
df.shape

(991988, 3)

In [7]:
def clean_text(text):
    tweet = re.sub("(@_?[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",text).split()
    return ' '.join(tweet)

In [8]:
df['text_clean'] = df['text'].map(lambda x: clean_text(str(x)))

In [9]:
df.head()

,created_at,location,text,text_clean
4,2018-07-31 03:47:00,NaN,RT @nextdoornurs3: A single person who RT’s th...,RT A single person who RT s this I ll DM my ph...
7,2018-07-31 03:47:00,NaN,RT @InfamousMari: So Incase you missed it Ille...,RT So Incase you missed it Illenium dropped so...
8,2018-07-31 03:47:00,NaN,RT @nimfasmacabitas: @menggalurks I choose to ...,RT I choose to be HAPPY ALDUBDeeper
9,2018-07-31 03:47:00,NaN,RT @Krazygioo: i actually laughed LMAOOO https...,RT i actually laughed LMAOOO
10,2018-07-31 03:47:00,NaN,RT @_SJPeace_: A black woman by the name of Da...,RT A black woman by the name of Darsell Obrego...

In [10]:
df[df['text_clean'].duplicated()]

,created_at,location,text,text_clean
32,2018-07-31 03:48:00,NaN,RT @NeutralJing: These ain’t the same bills an...,RT These ain t the same bills and this ain t t...
297,2018-07-31 03:48:05,NaN,RT @_Prince3_: Grape soda doesn’t even taste l...,RT Grape soda doesn t even taste like grapes b...
407,2018-07-31 03:48:07,NaN,RT @Vimalan97: Who in this world calls it Deng...,RT Who in this world calls it Dengoo
512,2018-07-31 03:48:09,NaN,RT @AmeriKraut: barack and michelle are NEVER ...,RT barack and michelle are NEVER coming to get us
526,2018-07-31 03:48:09,NaN,RT @JuddLegum: Just a reminder that someone st...,RT Just a reminder that someone stole George W...
...,...,...,...,...
3145,2018-07-30 17:30:59,NaN,RT @SUGAPlCS: I felt that https://t.co/8I5tumqsSx,RT I felt that
3150,2018-07-30 17:30:59,NaN,RT @avgelia: Jhene Aiko \nMiguel \nH.E.R \nDan...,RT Jhene Aiko Miguel H E R Daniel Caesar Frank...
3161,2018-07-30 17:30:59,NaN,RT @ManUtd: Who you backing in an arm wrestle ...,RT Who you backing in an arm wrestle or We kno...
3166,2018-07-30 17:30:59,NaN,"RT @Englistani: I always mention ""Burgers"" on ...",RT I always mention Burgers on here so let me ...
3168,2018-07-30 17:30:59,NaN,RT @AppleSupha: It's such a beautiful pic. in ...,RT It s such a beautiful pic in my camera whic...

In [11]:
df_clean = df.copy()
df_clean.drop_duplicates(subset ="text_clean", inplace = True)

In [12]:
df_clean.shape

(654281, 4)

In [13]:
df_clean.head()

,created_at,location,text,text_clean
4,2018-07-31 03:47:00,NaN,RT @nextdoornurs3: A single person who RT’s th...,RT A single person who RT s this I ll DM my ph...
7,2018-07-31 03:47:00,NaN,RT @InfamousMari: So Incase you missed it Ille...,RT So Incase you missed it Illenium dropped so...
8,2018-07-31 03:47:00,NaN,RT @nimfasmacabitas: @menggalurks I choose to ...,RT I choose to be HAPPY ALDUBDeeper
9,2018-07-31 03:47:00,NaN,RT @Krazygioo: i actually laughed LMAOOO https...,RT i actually laughed LMAOOO
10,2018-07-31 03:47:00,NaN,RT @_SJPeace_: A black woman by the name of Da...,RT A black woman by the name of Darsell Obrego...

In [14]:
df_clean.drop(columns=['location','text'],inplace=True)

In [15]:
df_clean.head()

            created_at                                         text_clean
4  2018-07-31 03:47:00  RT A single person who RT s this I ll DM my ph...
7  2018-07-31 03:47:00  RT So Incase you missed it Illenium dropped so...
8  2018-07-31 03:47:00                RT I choose to be HAPPY ALDUBDeeper
9  2018-07-31 03:47:00                       RT i actually laughed LMAOOO
10 2018-07-31 03:47:00  RT A black woman by the name of Darsell Obrego...

In [21]:
# Lable the data set of positive class(fire tweets) and negative class(nofire tweets)
key_word_list1 = ['wildfire','wildfires']
pattern1 = re.compile('|'.join(key_word_list1),re.IGNORECASE)
df_clean['label'] = df_clean['text_clean'].map(lambda x: pattern1.search(x) is not None)
df_clean['label'] = df_clean['label'].map(lambda x : int(x))

In [26]:
df_final= df_clean[['created_at','text_clean','label']]
df_final.head()

,created_at,text_clean,label
4,2018-07-31 03:47:00,RT A single person who RT s this I ll DM my ph...,0
7,2018-07-31 03:47:00,RT So Incase you missed it Illenium dropped so...,0
8,2018-07-31 03:47:00,RT I choose to be HAPPY ALDUBDeeper,0
9,2018-07-31 03:47:00,RT i actually laughed LMAOOO,0
10,2018-07-31 03:47:00,RT A black woman by the name of Darsell Obrego...,0

In [27]:
df_final.shape

(654281, 3)

In [28]:
df_final['label'].value_counts()

0    653978
1       303
Name: label, dtype: int64

In [29]:
df_final.to_csv('test_data_July30th.csv')