In [2]:
import pandas as pd
import re

In [3]:
# Load the csv file of July 23rd and july 24th from dataset
df_23 = pd.read_csv('../data/eng_tweets/tweets_processed_2018_07_23.csv',engine='python',header =None ,names = ['created_at','location','text'])

In [4]:
df_24 = pd.read_csv('../data/eng_tweets/tweets_processed_2018_07_24.csv',engine='python',header =None ,names = ['created_at','location','text'])

In [5]:
# The structure of the dataframe
df_23.head()

,created_at,location,text
2,2018-07-23 14:25:00,NaN,RT @Louis_Tomlinson: And remember if it’s by o...
3,2018-07-23 14:25:00,NaN,RT @skiIIer: what da h*ck https://t.co/M2lzWy6Jez
4,2018-07-23 14:25:00,NaN,RT @Vicky_SoLegit: Lmfao #Zoomchallenge i clea...
6,2018-07-23 14:25:00,NaN,RT @BTCalgary: Drive times at 8:19am #YYC #YYC...
10,2018-07-23 14:25:00,NaN,#TheFourComeBack I want #Whitney to return to ...

In [6]:
df_24.head()

,created_at,location,text
1,2018-07-24 23:24:00,NaN,RT @Cozy_Sev: LMFAOOOO https://t.co/7KUlZ0Qzls
6,2018-07-24 23:24:00,NaN,RT @itsToddLyon: @marklevinshow She doesn’t wa...
9,2018-07-24 23:24:00,NaN,RT @KristenDugan18: Nothing is better than wat...
12,2018-07-24 23:24:00,NaN,RT @krassenstein: Ivanka Trump just lost her b...
19,2018-07-24 23:24:00,NaN,RT @listenlina: why not?❣️ #PostYourFavMirrorS...

In [7]:
# Convert the data type of column 'created_at' to datetime
df_23['created_at'] = pd.to_datetime(df_23['created_at'])
df_24['created_at'] = pd.to_datetime(df_24['created_at'])

In [9]:
# The shape of the two dataframes
print(df_23.shape, df_24.shape)

(1076457, 3) (1060954, 3)

In [10]:
# Create a function to clean the text from the tweets, 
# in order to get rid of the @username, https:// and special symbols

def clean_text(text):
    tweet = re.sub("(@_?[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",text).split()
    return ' '.join(tweet)

In [11]:
# Clean the text and store into a new column 'text_clean'
df_23['text_clean'] = df_23['text'].map(lambda x: clean_text(str(x)))
df_24['text_clean'] = df_24['text'].map(lambda x: clean_text(str(x)))

In [12]:
# Check the duplicated rows in column 'text_clean'
df_23[df_23['text_clean'].duplicated()]

,created_at,location,text,text_clean
582,2018-07-23 14:25:09,NaN,Your mind’s on your money and your money’s on ...,Your mind s on your money and your money s on ...
669,2018-07-23 14:25:10,NaN,Sometimes you care more about caring than bein...,Sometimes you care more about caring than bein...
2517,2018-07-23 14:25:39,NaN,one person unfollowed me // automatically chec...,one person unfollowed me automatically checked by
2803,2018-07-23 14:25:43,NaN,@kimmyifuplease @TheUSASingers @FDRrocks @isla...,
2853,2018-07-23 14:25:44,NaN,Sometimes you care more about caring than bein...,Sometimes you care more about caring than bein...
...,...,...,...,...
2399,2018-07-23 06:41:59,NaN,RT @knownforms: Wow. This thread brings the re...,RT Wow This thread brings the receipts on and ...
2401,2018-07-23 06:41:59,NaN,RT @kaushkrahul: Why Maratha Kranti Morcha is ...,RT Why Maratha Kranti Morcha is demanding rese...
2418,2018-07-23 06:41:59,NaN,RT @DrBeniRusani: Study tip: Memorizing withou...,RT Study tip Memorizing without understanding ...
2421,2018-07-23 06:41:59,NaN,RT @TheScaryNature: Tortoise killed and ate a ...,RT Tortoise killed and ate a rattle snake
2422,2018-07-23 06:41:59,NaN,RT @TDollahz: 5 months left in this year...\nM...,RT 5 months left in this year Motto for the re...

In [13]:
df_24[df_24['text_clean'].duplicated()]

,created_at,location,text,text_clean
2142,2018-07-24 23:24:21,NaN,@CsertanAtilla @niuracastrillon @safsafayoub @...,
2949,2018-07-24 23:24:32,NaN,@WASAN71__ Mood:,Mood
4829,2018-07-24 23:24:56,NaN,Who is visiting you? https://t.co/pnbgyoe6bj,Who is visiting you
147,2018-07-24 23:34:02,NaN,RT @adamlambert: Hang in there @ddlovato - sen...,RT Hang in there sending good energy and love
327,2018-07-24 23:34:05,NaN,RT @maxmoefoe: RT to save a soul https://t.co/...,RT RT to save a soul
...,...,...,...,...
3023,2018-07-24 21:13:59,NaN,one person unfollowed me // automatically chec...,one person unfollowed me automatically checked by
3033,2018-07-24 21:13:59,NaN,RT @AbeikuLytle: Fabregas' wife is 12 years ol...,RT Fabregas wife is 12 years older They first ...
3039,2018-07-24 21:13:59,NaN,RT @FoxNews: .@SecPompeo on reports of North K...,RT on reports of North Korea dismantling a mis...
3050,2018-07-24 21:13:59,NaN,RT @SeanJones_: #DemiLovato She has bipolar di...,RT DemiLovato She has bipolar disorder abandon...
3053,2018-07-24 21:13:59,NaN,RT @sizov_andre: A recent pics from Russian Bl...,RT andre A recent pics from Russian Black Eart...

In [14]:
# Make a copy of original dataframe and drop the duplicated rows in new dataframe
df_23_clean = df_23.copy()
df_23_clean.drop_duplicates(subset ="text_clean", inplace = True)

In [15]:
df_24_clean = df_24.copy()
df_24_clean.drop_duplicates(subset ="text_clean", inplace = True)

In [26]:
print(df_23_clean.shape, df_24_clean.shape)

(688300, 5) (690185, 5)

In [17]:
# Label the tweets that related to wildfire
key_word_list = ['wildfire','wildfires']
pattern1 = re.compile('|'.join(key_word_list),re.IGNORECASE)
df_23_clean['label'] = df_23_clean['text_clean'].map(lambda x: pattern1.search(x) is not None)
df_23_clean['label'] = df_23_clean['label'].map(lambda x : int(x))
df_24_clean['label'] = df_24_clean['text_clean'].map(lambda x: pattern1.search(x) is not None)
df_24_clean['label'] = df_24_clean['label'].map(lambda x : int(x))

In [25]:
print(len(df_23_clean[df_23_clean['label']==1]), len(df_24_clean[df_24_clean['label']==1]))

135 481

In [28]:
# Concatinate two days wildfire tweets together with positive label
df_wildfire = pd.concat([df_23_clean[df_23_clean['label']==1], df_24_clean[df_24_clean['label']==1]])

In [30]:
df_wildfire.head()

,created_at,location,text,text_clean,label
123,2018-07-23 14:42:01,NaN,There are ways for Colorado residents to stret...,There are ways for Colorado residents to stret...,1
1110,2018-07-23 14:20:16,NaN,RT @ekathimerini: Residents flee wildfire ragi...,RT Residents flee wildfire raging west of Athens,1
1139,2018-07-23 14:08:16,NaN,#Canada: B.C.’s Okanagan braces for more wildf...,Canada B C s Okanagan braces for more wildfires,1
2918,2018-07-23 14:11:44,NaN,Evacuation orders as Ontario's wildfires keep ...,Evacuation orders as Ontario s wildfires keep ...,1
399,2018-07-23 08:21:09,NaN,RT @GeorgeMonbiot: How rewildling can prevent ...,RT How rewildling can prevent wildfires,1

In [37]:
# Label the tweets that has no relation of wildfire
df_nofire = df_24_clean[df_24_clean['label']==0].sample(n=6000)

In [38]:
df_nofire.shape

(6000, 5)

In [39]:
# Concatinate the labeled fire dataframe and nofire dataframe together to form a training set
df_final = pd.concat([df_wildfire, df_nofire])

In [41]:
df_final.drop(columns = ['location', 'text'], inplace=True)

In [30]:
df_final.to_csv('Training_set_withtime.csv')